.pl {
  padding: 50px 12vw;
  align-items: center;
  text-align: center;
}
.pl-texts {
  width: 65%;
}
.pl-title {
  font-size: 50px;
  font-weight: 600;
}
:root {
  --surface-color: #fff;
  --curve: 40;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fef8f8;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  text-align: left;
}
.cards > li {
  height: 35vh;
  overflow: hidden;
}

.cards > li:hover .card__image {
  transform: translateY(-70%);
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  border: 2px solid rgba(211, 211, 211, 0.365);
}

.card__image {
  width: 100%;
  height: auto;
  transition: all 7s ease;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 0.9px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 2em;
  border-radius: 40px 40px 10px 10px;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 0px -14px 21px 3px rgba(158, 158, 158, 0.16);
  box-shadow: 0px -14px 21px 3px rgba(158, 158, 158, 0.16);
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}
.card:hover .card__header {
  transform: translateY(0);
}
.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #212121;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.8em;
  color: #6a515e;
}
.card__description {
  padding: 0.5em 1.5em 0.5em;
  font-family: "MockFlowFont";
  overflow: hidden;
  display: inline-block;
  color: #212121;
}
.links {
  text-align: center;
}
.link {
  padding: 0.5em 2em 0.5em;
  margin: 15px;
  border-radius: 10px;
  background-color: black;
  display: inline-block;
  overflow: hidden;
}
.link > a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .pl {
    padding: 50px 1vw;
  }
}
